@import "../../Assets/Styles/_vars.scss";
@import "../../Assets/Styles/_mixins.scss";
.footer {
  max-width: 1459px;
  width: 100%;
  padding: 20px 15px;
  margin: auto;
  .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #252832;
    padding-bottom: 40px;
    @media (max-width:991px) {
      flex-flow: wrap;
      gap:20px;
    }
    .footerTopLeft {
      p {
        color: #79799a;
        margin-top: 43px;
        @include fluid-type(320px, 1920px, 14px, 18px);
        @media (max-width:991px) {
          margin-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .footerTopRight {
      max-width: 520px;
      width: 100%;
      @media (max-width:991px) {
        max-width: 100%;
      }
      .input-container {
        position: relative;
        .input-field {
          width: 100%;
          padding: 28px;
          box-sizing: border-box;
          border: 0;
          border-radius: 20px;
          font-size: 16px;
          width: 100%;
          background: linear-gradient(to right, #11131b 20%, #0c0f16);
          outline: none;
          color: #9aa2b7;
          @media (max-width:575px) {
            padding:20px;
          }
        }

        .icon {
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
          font-size: 20px;
        }
      }
    }
  }
  .footerBottom {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    @media (max-width:575px) {
      padding:20px 0 10px;
      
    }
    @media (max-width:767px) {
      flex-flow: wrap;
      gap:20px;
      justify-content: center;
    }
    .footerBottomLeft {
      display: flex;
      gap: 40px;
      @media (max-width:575px) {
        gap:15px;
      }
      .socialLink{
        cursor: pointer;
      }
    }
    .footerBottomRight {
      @include fluid-type(320px, 1920px, 14px, 18px);
      display: flex;
      gap: 30px;
      a {
        color: #9aa2b7;
      }
    }
  }
}
