@import "../../Assets/Styles/_vars.scss";
@import "../../Assets/Styles/_mixins.scss";
.question {
  padding: 80px 0;
  .faqContainer {
    max-width: 1196px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
  }
  h2 {
    color: #fff;
    @include fluid-type(320px, 1920px, 30px, 60px);
    font-weight: bold;
    text-align: center;
  }
  p {
    color: #79799a;
    @include fluid-type(320px, 1920px, 14px, 20px);
    text-align: center;
  }
  .questioInner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .faqleft {
      width: 100%;
      .ant-collapse {
        background-color: transparent !important;
        border: 0;
        .ant-collapse-item {
          border-bottom: 0;
          .ant-collapse-header-text {
            text-align: left;
            color: white;
            padding: 16px 60px;
            @include fluid-type(320px, 1920px, 16px, 24px);
          }
          .ant-collapse-expand-icon {
            width: 0;
            height: 0;
            span {
              display: none;
            }
            &::after {
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              content: "+";
              transform: translate(-90%, -20%);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              z-index: 1;
              font-weight: 300;
              transform: translateY(-50%);
              font-size: 60px;
              line-height: 40px;
              border-radius: 20px;
              padding: 1px 0px 0px 8px;
              @media (max-width: 575px) {
                font-size: 25px;
              }
              background: linear-gradient(to right, #fab70a, #f85100);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }
          &-active {
            .ant-collapse-expand-icon::after {
              color: blue;
            }
          }
        }
        .ant-collapse-item-active {
          .ant-collapse-expand-icon {
            &::after {
              position: absolute;
              content: "-";
              padding: 3px 0px 0px 5px;
              z-index: 1;
              font-size: 70px;
              line-height: 15px;
              font-weight: 300;
              color: white;
            }

            span {
              display: none;
            }
          }
        }
      }
      .ant-collapse-item {
        box-shadow: none;
        margin: 20px 0px;
        padding-bottom: 10px;
        background: linear-gradient(to right, #11131b 20%, #0c0f16);
        border-radius: 20px;
        .ant-collapse-header {
          padding: 0px 40px 0px 0;
          @include fluid-type(320px, 1920px, 18px, 24px);
          color: #000000;
          font-weight: 500;
          padding-right: 40px;
          line-height: 41px;
        }
        .ant-collapse-content {
          background-color: transparent;
          color: #79799a;
          border-top: 0;
          @include fluid-type(320px, 1920px, 14px, 20px);
        }
        .ant-collapse-content > .ant-collapse-content-box {
          padding: 16px 60px;
          color: #79799a;
          font-weight: 500;
          padding-top: 0;
        }
      }
    }
  }
}
