@import "../../Assets/Styles/_vars.scss";
@import "../../Assets/Styles/_mixins.scss";

.swap {
  display: flex;
  gap: 40px;
  padding: 30px 39px 30px 50px;
  width: 100%;

  @media (max-width: 1366px) {
    padding: 20px;
    gap: 20px;
  }
  @media (max-width: 767px) {
    padding: 20px 15px;
  }

  @media (max-width: 991px) {
    flex-wrap: wrap;

    > div {
      width: 100%;
      max-width: 100%;
    }
  }

  &__buysell {
    background: $white;
    box-shadow: 0px 0px 12px $tableborders;
    border-radius: 20px;
    max-width: 415px;
    width: 100%;

    @media (max-width: 1366px) {
      max-width: 403px;
      width: 100%;
    }
  }

  &__table {
    background: $white;
    box-shadow: 0px 0px 12px $tableborders;
    border-radius: 20px;
    max-width: calc(100% - 415px);
    width: 100%;
    overflow: hidden;

    .ant-table-thead > tr > th {
      padding-left: 30px !important;
    }

    .ant-table-tbody > tr > td {
      padding-left: 30px !important;
    }

    .portfolioTable .ant-table-thead > tr > th {
      padding-left: 20px !important;
    }
    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__viewall {
        color: $baseblue;
        padding: 28px 40px;
        font-weight: 600;
        @include fluid-type(320px, 1920px, 14px, 18px);
        span {
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 767px) {
    table {
      th,
      td {
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(9) {
          display: none;
        }
      }
    }
  }
}
